.node {
	width: 35px;
	height: 35px;
	outline: 1px solid rgb(175, 216, 248);
	display: inline-block;
	margin: 0 2px;
}

.randomnode {
	width: 35px;
	height: 35px;
	outline: 2px solid rgb(11, 13, 15);
	display: inline-block;
}
